.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #333333;
  }
  
  .navbar button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    color: black;
    cursor: pointer;
  }
  
  .navbar button:hover {
    background-color: #ddd;
    color: black;
  }
  